*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
    background: rgb(226, 224, 224);
}

.navbar{
    background: lightblue;
    padding: 10px;
    font-size: 23px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.container{
    padding: 10px;
}

.book-container{
    text-align: center;
    
padding: 15px;
width: 25%;
background-color: lightblue;
color:black;
margin: 30px;
border-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
display: inline-block;
}

.book-container >h4{
    color:red;
}

.book-container >button{
    width: 100px;
    padding: 10px;
    font-size: 15px;
    position: relative;
    top: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 3px;
background: lightcoral;
color: black;
}


.add-button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 10px;
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
    border: none;
    background-color: lightblue;
    color: black;
    box-shadow: 2px 2px 4px black;
    position: fixed;
    bottom: 30px;
    right: 30px;
}


.poppup{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: #FD6565;

    position: absolute;
    top: 100px;
    left: 40%;

}


.poppup-overlay{
    width: 100%;
    background-color: black;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.8;
    z-index: 1;
    display: none;
}


.popup-box{
    background-color: lightblue;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;

}

.popup-box input{
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
}

.popup-box textarea{
    background-color: transparent;
width: 100%;
margin: 5px;
font-size: 20px;
border:solid black 2px;
position: relative;
top: 15px;
resize: none;
}

.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}

.popup-box #add{

    width: 100px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    position: relative;
    top: 20px;
    background-color: black;
    color: white;
    font-size: 18px;
    box-shadow: 2px 2px 4px black;
}
.popup-box #cancel{

    width: 100px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    position: relative;
    top: 20px;
    background-color: black;
    color: white;
    font-size: 18px;
    box-shadow: 2px 2px 4px black;
    left: 10px;
}


.popup-box input:focus{
    outline: none;
}

.popup-box textarea:focus{
    outline: none;
}


@media (max-width:650px) {

    .navbar{
         
         text-align: center;
    }
.container{

    padding: 8px;
}

.book-container{

    width: 300px;
    padding: 10px;
    margin: 20px;


}

.popup-box{
    width: 300px;
    left: 10%;
}



}